<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AirportEntities" connectionString="metadata=res://*/DB.Model2.csdl|res://*/DB.Model2.ssdl|res://*/DB.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3F1AA81;initial catalog=Airport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AirportEntities1" connectionString="metadata=res://*/DB.Model11.csdl|res://*/DB.Model11.ssdl|res://*/DB.Model11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-QQOM2BL9\SQLEXPRESS1;initial catalog=Airport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AirportEntities22" connectionString="metadata=res://*/DB.Model1111.csdl|res://*/DB.Model1111.ssdl|res://*/DB.Model1111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3F1AA81;initial catalog=Airport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Airport05EntitiesV" connectionString="metadata=res://*/DB.Model1.csdl|res://*/DB.Model1.ssdl|res://*/DB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-NE0LG8CN\SQLEXPRESS;initial catalog=Airport05;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Airport05EntitiesV02" connectionString="metadata=res://*/DB.Model13.csdl|res://*/DB.Model13.ssdl|res://*/DB.Model13.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-NE0LG8CN\SQLEXPRESS;initial catalog=Airport05;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AirportEntities2" connectionString="metadata=res://*/DB.Model15.csdl|res://*/DB.Model15.ssdl|res://*/DB.Model15.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-QQOM2BL9\SQLEXPRESS1;initial catalog=Airport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AirportEntities3" connectionString="metadata=res://*/DB.Model18.csdl|res://*/DB.Model18.ssdl|res://*/DB.Model18.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa\serv1215;initial catalog=Airport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>