<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AirportEntities" connectionString="metadata=res://*/DB.Model2.csdl|res://*/DB.Model2.ssdl|res://*/DB.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3F1AA81;initial catalog=Airport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AirportEntities1" connectionString="metadata=res://*/DB.Model3.csdl|res://*/DB.Model3.ssdl|res://*/DB.Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-QQOM2BL9\SQLEXPRESS1;initial catalog=Airport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Airport03Entities" connectionString="metadata=res://*/DB.Model4.csdl|res://*/DB.Model4.ssdl|res://*/DB.Model4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-NE0LG8CN\SQLEXPRESS;initial catalog=Airport03;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>